.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Will create space between the .left-menu and .menu-nav */
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.left-menu {
    display: flex;
    align-items: center;
}

.menu-logo img {
    width: 77px;
    height: auto;
    flex-shrink: 0;
}
.menu-nav {
    margin-left: auto; /* This pushes the nav to the right */
}
.menu-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-nav li {
    margin: 0 10px;
}

.menu-nav a,.intro a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    position: relative;
}

.menu-nav a:hover {
    color:#d82f8b;  
}
.svg{
    color:#d82f8b;
    padding-left:10px;
    border-left:1px solid #000;
    margin-left: 18px;
}
.intro>a{
    margin-left: -9px;
    color: #cb2580;
}
.logo-icon a img {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid gray;
    padding: 10px;
    object-fit: contain; 
}